@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --y-location: 0px;
  --x-location: 0px;
}

.transform-style {
  transform-style: preserve-3d;
}

.perspective {
  perspective: 600px;
}

.back-face {
  backface-visibility: hidden;
}

.rotate-y {
  transform: rotateY(180deg);
}

.carry-gold-up {
  animation-name: carry-gold-up;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.carry-gold-right {
  animation-name: carry-gold-right;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes carry-gold-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--y-location));
  }
}

@keyframes carry-gold-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--x-location));
  }
}
